<%- include("partials/header.ejs") %>
<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <div style="height: 250px;"><img src="images/food1.jpg" alt="" height="225px" width="360px"></div>
           
          
            
            <div class="card-body">
              <p>Food Blog</p>
              <p class="card-text">Know more about the blog</p>
              <a href="https://iamafoodblog.com/"> click here</a>
              <div class="d-flex justify-content-between align-items-center">
                
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div style="height: 250px;"><img src="images/travel.jpg" alt="" height="225px" width="360px"></div>
         
            <!--<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
          -->
            <div class="card-body">
              <p><em>Travelling blog</em></p>
              <p class="card-text">Know more about the blog</p>
              <a href="https://www.travelblog.org/">click here</a>
              <div class="d-flex justify-content-between align-items-center">
               
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div style="height: 250px;"><img src="images/fashion.jpg" alt="" height="225px" width="360px"></div>
         
            <!--<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
          -->
            <div class="card-body">
              <p><em>fashion</em></p>
              <p class="card-text">Know more about the blog</p>
              <a href="https://www.itscasualblog.com/">click here</a>
              <div class="d-flex justify-content-between align-items-center">
               
              
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <div style="height: 250px;"><img src="images/games.jpg" alt="" height="225px" width="360px"></div>
         
            <div class="card-body">
              <p><em>Games blog</em></p>
              <p class="card-text">Know more about the blog.</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="https://www.gamerefinery.com/blog/">click here</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div style="height: 250px;"><img src="images/music.jpg" alt="" height="225px" width="360px"></div>
            <div class="card-body">
              <p><em>Music blog</em></p>
              <p class="card-text">Know more about the blog.</p>
              <a href="https://audiohype.io/resources/best-music-blogs/">click here</a>
              
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div style="height: 250px;"><img src="images/sports.jpg" alt="" height="225px" width="360px"></div>
         
            <div class="card-body">
              
              <p><em>sport blog</em></p>
              <p class="card-text">Know more about the blog.</p>
               <a href="https://www.theguardian.com/sport/blog"> click here</a>
              
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <div style="height: 250px;"><img src="images/edu.jpg" alt="" height="225px" width="360px"></div>
         
            <div class="card-body">
              <p><em>Education blog</em></p>
              <p class="card-text">Know more about the blog.</p>
              <a href="https://world-education-blog.org/">click here</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div style="height: 250px;"><img src="images/art.jpg" alt="" height="225px" width="360px"></div>
         
            <div class="card-body">
              <p><em>Art blog</em></p>
              <p class="card-text">Know more about the blog.</p>
              <a href="https://www.artworkarchive.com/blog">click here</a>
             
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div style="height: 250px;"><img src="images/health.jpg" alt="" height="225px" width="360px"></div>
         
            <div class="card-body">
              <p><em>Health blog</em></p>
              <p class="card-text">Know more about the blog.</p>
              <a href="https://www.health.harvard.edu/blog">click here</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- include("partials/footer.ejs") %>