<%- include("partials/header.ejs") %>
<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary sty">
    <div class="col-lg-6 px-0">
      <h1 class="display-4 fst-italic">Create your first blog with our amazing website</h1>
      <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
      <p class="lead mb-0"><a href="/write" class="text-body-emphasis fw-bold">Start creating...</a></p>
    </div>
  </div>
  <%- include("partials/footer.ejs") %>