
 .navi{
     display: flex;
     height: 60px;
     background: linear-gradient(90deg, #ff66c4,#ffde59);
     color: black;
     font-family: 'Gill Sans';
     align-items: center;
     margin-bottom: 0px;
     
 }
 .sign{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .form-signin{
    width: 50%;
    
 }
 body{
    background: linear-gradient(90deg,#fff7ad,#ffa9f9);
 }
 .sty{
    background: linear-gradient(90deg,#fff7ad,#ffa9f9);
    margin-bottom: 0px; 
}
 .leftItems{
     
    margin-left: 0.2px;
     
 
 }
 .navbar{
     display: flex;
     height: 60px;
     background-color: rgb(9, 17, 23);
     color: white;
     font-family: 'Gill Sans';
     align-items: center;
     
 }

 .leftItems{
     margin-left: 760px;
     display: flex;
     align-items: flex-start;
     
 
 }
 .nav-link{
    color: black;
    
 }

 .nav-item{
    list-style: none;
 }
#contact{
    background:linear-gradient(90deg, #8c52ff,#ff914d); 
}
.write{
    background:linear-gradient(90deg, #8c52ff,#ff914d);
     font-weight:bolder;
}

.input-group{
    margin-top: 20px;
}